In [1]:
import pandas as pd

In [2]:
data_train = pd.read_csv("input/data.csv")
data_test = pd.read_csv("input/test.csv")

In [3]:
data_train.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   2.26      Ideal     G     SI2   61.9   57.0  8.44  8.36  5.20  12831
1   2.43  Very Good     H     SI2   63.2   57.0  8.56  8.50  5.39  16170
2   0.80    Premium     F     SI2   61.0   57.0  6.03  6.01  3.67   2797
3   0.40      Ideal     F      I1   63.3   60.0  4.68  4.64  2.95    630
4   0.31      Ideal     G     VS2   61.6   55.0  4.39  4.37  2.70    698

In [4]:
data_test.head()

   id  carat      cut color clarity  depth  table     x     y     z
0   0   0.56    Ideal     I     VS2   62.1   54.0  5.30  5.33  3.30
1   1   1.05    Ideal     G     VS2   61.9   56.0  6.56  6.52  4.05
2   2   0.50  Premium     E     VS2   61.5   56.0  5.11  5.07  3.13
3   3   0.80    Ideal     F     VS1   62.8   56.0  5.91  5.96  3.73
4   4   0.54    Ideal     G     VS1   61.4   57.0  5.23  5.20  3.20

In [5]:
data_train = data_train.drop(["price"], axis=1)

In [6]:
data_train.shape

(40455, 9)

In [7]:
data_train_clean = data_train[["carat", "cut", "color", "clarity", "depth", "table"]]

In [8]:
data_test_clean = data_test[["carat", "cut", "color", "clarity", "depth", "table"]]

In [9]:
data_train_clean.head()

   carat        cut color clarity  depth  table
0   2.26      Ideal     G     SI2   61.9   57.0
1   2.43  Very Good     H     SI2   63.2   57.0
2   0.80    Premium     F     SI2   61.0   57.0
3   0.40      Ideal     F      I1   63.3   60.0
4   0.31      Ideal     G     VS2   61.6   55.0

In [10]:
data_test_clean.head()

   carat      cut color clarity  depth  table
0   0.56    Ideal     I     VS2   62.1   54.0
1   1.05    Ideal     G     VS2   61.9   56.0
2   0.50  Premium     E     VS2   61.5   56.0
3   0.80    Ideal     F     VS1   62.8   56.0
4   0.54    Ideal     G     VS1   61.4   57.0

In [11]:
data_train_clean.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
dtype: int64

In [12]:
data_train_clean.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
dtype: object

In [13]:
data_test_clean.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
dtype: int64

In [14]:
data_test_clean.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
dtype: object

In [15]:
data_train_clean.describe()

              carat         depth         table
count  40455.000000  40455.000000  40455.000000
mean       0.798385     61.747932     57.459085
std        0.474353      1.432322      2.231152
min        0.200000     43.000000     43.000000
25%        0.400000     61.000000     56.000000
50%        0.700000     61.800000     57.000000
75%        1.040000     62.500000     59.000000
max        5.010000     79.000000     79.000000

In [16]:
data_test_clean.describe()

              carat         depth         table
count  13485.000000  13485.000000  13485.000000
mean       0.796605     61.753823     57.451479
std        0.473000      1.433563      2.244549
min        0.200000     53.100000     49.000000
25%        0.400000     61.100000     56.000000
50%        0.700000     61.800000     57.000000
75%        1.040000     62.500000     59.000000
max        4.130000     79.000000     95.000000

In [17]:
data_train_clean["cut"].value_counts(dropna=False)

Ideal        16139
Premium      10377
Very Good     9101
Good          3650
Fair          1188
Name: cut, dtype: int64

In [18]:
data_train_clean["color"].value_counts(dropna=False)

G    8492
E    7343
F    7183
H    6230
D    5046
I    4046
J    2115
Name: color, dtype: int64

In [19]:
data_train_clean["clarity"].value_counts(dropna=False)

SI1     9767
VS2     9147
SI2     6909
VS1     6157
VVS2    3822
VVS1    2740
IF      1356
I1       557
Name: clarity, dtype: int64

In [20]:
# Convertir cut, color, clarity a n√∫meros

In [21]:
corte = {"Ideal":5, "Premium":4, "Very Good":3, "Good":2, "Fair":1}

In [22]:
data_train_clean["cut"] = data_train_clean["cut"].replace(corte)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
data_test_clean["cut"] = data_test_clean["cut"].replace(corte)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
colores = {"D":7, "E":6, "F":5, "G":4, "H":3, "I":2, "J":1}

In [25]:
data_train_clean["color"] = data_train_clean["color"].replace(colores)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
data_test_clean["color"] = data_test_clean["color"].replace(colores)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
claridad = {"IF":8, "VVS1":7, "VVS2":6, "VS1":5, "VS2":4, "SI1":3, "SI2":2, "I1":1}

In [28]:
data_train_clean["clarity"] = data_train_clean["clarity"].replace(claridad)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
data_test_clean["clarity"] = data_test_clean["clarity"].replace(claridad)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
data_train_clean.head()

   carat  cut  color  clarity  depth  table
0   2.26    5      4        2   61.9   57.0
1   2.43    3      3        2   63.2   57.0
2   0.80    4      5        2   61.0   57.0
3   0.40    5      5        1   63.3   60.0
4   0.31    5      4        4   61.6   55.0

In [31]:
data_test_clean.head()

   carat  cut  color  clarity  depth  table
0   0.56    5      2        4   62.1   54.0
1   1.05    5      4        4   61.9   56.0
2   0.50    4      6        4   61.5   56.0
3   0.80    5      5        5   62.8   56.0
4   0.54    5      4        5   61.4   57.0

In [32]:
# Correlation

In [33]:
data_train_clean.corr()

            carat       cut     color   clarity     depth     table
carat    1.000000 -0.131916 -0.292759 -0.352239  0.024370  0.180861
cut     -0.131916  1.000000  0.021126  0.183393 -0.215829 -0.434086
color   -0.292759  0.021126  1.000000 -0.027759 -0.048099 -0.026999
clarity -0.352239  0.183393 -0.027759  1.000000 -0.067045 -0.158803
depth    0.024370 -0.215829 -0.048099 -0.067045  1.000000 -0.296418
table    0.180861 -0.434086 -0.026999 -0.158803 -0.296418  1.000000

In [34]:
data_test_clean.corr()

            carat       cut     color   clarity     depth     table
carat    1.000000 -0.144074 -0.287471 -0.354694  0.039822  0.183877
cut     -0.144074  1.000000  0.018738  0.206445 -0.224652 -0.431415
color   -0.287471  0.018738  1.000000 -0.019210 -0.044847 -0.024869
clarity -0.354694  0.206445 -0.019210  1.000000 -0.068388 -0.164933
depth    0.039822 -0.224652 -0.044847 -0.068388  1.000000 -0.293869
table    0.183877 -0.431415 -0.024869 -0.164933 -0.293869  1.000000

In [35]:
# Estandarizar

In [36]:
data_train_clean.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table'], dtype='object')

In [37]:
from sklearn import preprocessing

In [38]:
std = preprocessing.StandardScaler()

In [39]:
train_std = pd.DataFrame(std.fit_transform(data_train_clean[["carat", "depth", "table"]]), columns=["carat", "depth", "table"])

In [40]:
train_std.head(1)

      carat    depth     table
0  3.081321  0.10617 -0.205764

In [41]:
data_train_clean = data_train_clean.drop(["carat", "depth", "table"], axis=1)

In [42]:
data_train_clean = pd.concat([data_train_clean, train_std], axis=1)

In [43]:
data_train_clean.head()

   cut  color  clarity     carat     depth     table
0    5      4        2  3.081321  0.106170 -0.205764
1    3      3        2  3.439708  1.013798 -0.205764
2    4      5        2  0.003405 -0.522188 -0.205764
3    5      5        1 -0.839859  1.083616  1.138849
4    5      4        4 -1.029593 -0.103283 -1.102173

In [44]:
test_std = pd.DataFrame(std.fit_transform(data_test_clean[["carat", "depth", "table"]]), columns=["carat", "depth", "table"])

In [45]:
test_std.head(1)

      carat     depth     table
0 -0.500241  0.241489 -1.537773

In [46]:
data_test_clean = data_test_clean.drop(["carat", "depth", "table"], axis=1)

In [47]:
data_test_clean = pd.concat([data_test_clean, test_std], axis=1)

In [48]:
data_test_clean.head()

   cut  color  clarity     carat     depth     table
0    5      2        4 -0.500241  0.241489 -1.537773
1    5      4        4  0.535739  0.101972 -0.646693
2    4      6        4 -0.627096 -0.177064 -0.646693
3    5      5        5  0.007178  0.729801 -0.646693
4    5      4        5 -0.542526 -0.246823 -0.201152

In [49]:
data_train_clean.shape

(40455, 6)

In [50]:
data_test_clean.shape

(13485, 6)

In [51]:
data_train_clean.to_csv("output/train.csv")

In [52]:
data_test_clean.to_csv("output/test.csv")